/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: 'STAR_GENOMEGENERATE_CRISPR' {
            ext.args   = { '--genomeSAindexNbases 2' }
            publishDir = [
                path: { "${params.outdir}/star_genome_generate/crispr" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        }
    
    withName: 'STAR_GENOMEGENERATE_GEX' {
            publishDir = [
                path: { "${params.outdir}/star_genome_generate/gex" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        }
    
    withName: 'STARSOLO_CRISPR' {
            ext.args   = { [
                    params.cb_start                  ? "--soloCBstart ${params.cb_start}" : '',
                    params.cb_len                  ? "--soloCBlen ${params.cb_len}" : '',
                    params.umi_start               ? "--soloUMIstart ${params.umi_start} " : '',
                    params.umi_len                  ? "--soloUMIlen ${params.umi_len} " : '',
                    params.number_of_bases_to_match_crispr ? "--outFilterMatchNmin ${params.number_of_bases_to_match_crispr}" : "--outFilterMatchNmin 38",
                    params.percent_of_bases_to_match_crispr ? "--outFilterMatchNminOverLread ${params.percent_of_bases_to_match_crispr}" : "--outFilterMatchNminOverLread 0.2",
                    params.percentage_alignment_score_crispr ? "--outFilterScoreMinOverLread ${params.percentage_alignment_score_crispr}" : "--outFilterScoreMinOverLread 0.3",
                    "--outFilterMultimapNmax 1",
                    params.match_cell_ranger_results ? "--soloCBmatchWLtype 1MM_multi_Nbase_pseudocounts --soloUMIfiltering MultiGeneUMI_CR --soloUMIdedup 1MM_CR" : '',
                    " --runDirPerm All_RWX --twopassMode Basic --outSAMtype BAM SortedByCoordinate --limitBAMsortRAM ${task.memory.toBytes()}"
 

            ].join(' ').trim() }

            publishDir = [
                path: { "${params.outdir}/star_solo/crispr/${meta.id}" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        }
    
     withName: 'STARSOLO_GEX' {
            ext.args   = { [
                    params.cb_start                  ? "--soloCBstart ${params.cb_start}" : '',
                    params.cb_len                  ? "--soloCBlen ${params.cb_len}" : '',
                    params.umi_start               ? "--soloUMIstart ${params.umi_start} " : '',
                    params.umi_len                  ? "--soloUMIlen ${params.umi_len} " : '',
                    params.outFilterMultimapNmax ? "--outFilterMultimapNmax ${outFilterMultimapNmax}" : "" ,
                    params.match_cell_ranger_results ? "--soloCBmatchWLtype 1MM_multi_Nbase_pseudocounts --soloUMIfiltering MultiGeneUMI_CR --soloUMIdedup 1MM_CR" : '',
                    " --runDirPerm All_RWX --twopassMode Basic --outSAMtype BAM SortedByCoordinate --limitBAMsortRAM ${task.memory.toBytes()}"
 

            ].join(' ').trim() }

            publishDir = [
                path: { "${params.outdir}/star_solo/gex/${meta.id}" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        }  

}

