/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/perturbseq -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    // TODO nf-core: Specify the paths to your test data on nf-core/test-datasets
    // TODO nf-core: Give any required params for the test so that command line flags are not needed
    input = '/Users/darko/Desktop/Loka/final/nf-core-perturbseq/assets/samplesheet.csv'
    fasta_reference_crispr = '/Users/darko/Desktop/Loka/final/nf-core-perturbseq/assets/test_data/crispr_reference.fa.gz'
    gtf_reference_crispr  = '/Users/darko/Desktop/Loka/final/nf-core-perturbseq/assets/test_data/crispr_reference.gtf.gz'
    index_reference_gex  =  '/Users/darko/Desktop/Loka/final/nf-core-perturbseq/assets/test_data/chr20'
    tenx_version         = '10XV3'

    outdir = 'testing'



}
